% -*- erlang -*-

{erl_opts, [debug_info]}.

{deps, [{jsone, "1.4.7"}]}.

{base_dir, "build"}.

{shell, [{apps, [mtxer, inets, ssl]},
         {config, "sys.config"}]}.

{relx, [{release, {mtxer, "0.1"}, [mtxer]},
        {dev_mode, false},
        {include_erts, false},
        {extended_startup_script, true}]}.
